﻿
@{
    Layout = null;
}

<!DOCTYPE HTML>

<html lang="en-US">

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta charset="UTF-8">


    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/index.js"></script>
    <title>Pratiklerce.com</title>

</head>

<body>

    <div class="container">

        <div class="row">
            <!-- Ana menü-->

            <div class="navbar navbar-default navbar-fixed-top" role="navigation">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ana-menu"><span class="sr-only"></span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>

                <a class="navbar-brand" href="#">Pratiklerce</a>



                <div class="navbar-collapse collapse" id="ana-menu">

                    <ul class="nav navbar-nav">

                        <li class="btn btn-warning"><a href="#">Anasayfa</a></li>

                        <li class="btn btn-warning"><a href="#"> Makyaj </a></li>

                        <li class="btn btn-warning"><a href="#">Saç Tasarım </a></li>
                        <li class="btn btn-warning"><a href="#">Film/Dizi</a></li>

                        <li class="btn btn-warning"><a href="#">Moda </a></li>
                        <li class="btn btn-warning"><a href="#">İpucları</a></li>

                        <li class="btn btn-warning"><a href="#">Pratik Yemek Tarifleri</a></li>
                        <li class="btn btn-warning"><a href="#">İletişim</a></li>

                        <li class="btn btn-warning"> <a href="#">Üye giris </a></li>


                    </ul>

                </div>

            </div>

        </div>

        <div>
            @RenderBody()
        </div>
        <footer>
            <hr />
            Bu bir SEVİLAY AĞIL projesidir-------Tüm Hakları Saklıdır-------
        </footer>

    </div>





</body>

</html>
