﻿
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/sevilay/_Layout.cshtml";
}

<!-- Header-->

<div class="jumbotron ust">


    <div class="container">

        <h1> <strong> PRATIKLERCE</strong> </h1>

        <p class="f2"><strong> pratik bilgiler ve yeni trend önerileriyle birlikte ögrenciler için kolay yemek önerileri artık bir arada</strong> </p>
    </div>
    <div class="ana">
    </div>
</div>














<!-- İçerik-->

<div class="col-xs12 col-sm-6 col-md-12">

    <div class="col-xs12 col-sm-12 col-md-4">

        <div class="list-group">

            <a href="#" class="list-group-item">

                <div class="text-orta"><img src="~/images/eat.jpg" sizes="150*150" /></div>

                <h4 class="list-group-item-heading">Yemek</h4>

                <p class="list-group-item-text f3">Kolay pratik mikrodalgada hazırlanan yemek tarifleri</p>

                <br /><div class="text-orta"><button id="uyari" class="btn btn-danger" type="button">Devam <b class="glyphicon glyphicon-chevron-right f3"></b></button></div>

            </a>

        </div>

    </div>

    <div class="col-xs12 col-sm-12 col-md-4">

        <div class="list-group">

            <a href="javascript:void(0)" class="list-group-item">

                <div class="text-orta"><img src="~/images/film.jpg" /></div>

                <h4 class="list-group-item-heading">Film/Dizi</h4>

                <p class="list-group-item-text f3">Unutulmayan film ve diziler,güncel film tavsiyeleri için tıklayınız </p>

                <br /><div class="text-orta"><button id="uyari" class="btn btn-danger" type="button">Devam <b class="glyphicon glyphicon-chevron-right f3"></b></button></div>

            </a>

        </div>

    </div>

    <div class="col-xs12 col-sm-12 col-md-4">

        <div class="list-group">

            <a href="javascript:void(0)" class="list-group-item">

                <div class="text-orta"><img src="~/images/hair design.jpg" /></div>

                <h4 class="list-group-item-heading">Saç Tasarımı</h4>

                <p class="list-group-item-text f3">Pratik ve kolay yapılabilecek saç modelleri.Topuz,at kuyruğu...</p>

                <br /><div class="text-orta"><button id="uyari" class="btn btn-danger" type="button">Devam <b class="glyphicon glyphicon-chevron-right f3"></b></button></div>

            </a>

        </div>

    </div>

</div>



<div class="col-xs12 col-sm-6 col-md-12">

    <div class="col-xs12 col-sm-12 col-md-4">

        <div class="list-group">

            <a href="javascript:void(0)" class="list-group-item">

                <div class="text-orta"> <img src="~/images/make up.jpg" />   /></div>

                <h4 class="list-group-item-heading">Makyaj</h4>

                <p class="list-group-item-text f3">Makyaj teknikleri ve doğal makyaj tavsiyeleri Pratiklerce'de! Makyaj trendleri ve size özel en yeni makyaj tavsiyeleri için tıklayın!</p>

                <br /><div class="text-orta"><button id="uyari" class="btn btn-danger" type="button">Devam <b class="glyphicon glyphicon-chevron-right f3"></b></button></div>

            </a>

        </div>

    </div>

    <div class="col-xs12 col-sm-12 col-md-4">

        <div class="list-group">

            <a href="javascript:void(0)" class="list-group-item">

                <div class="text-orta"><img src="~/images/questiojn.jpg" /></div>

                <h4 class="list-group-item-heading">ipuçları</h4>

                <p class="list-group-item-text f3"> Gündelik hayatta işinizi kolaylastıracak ipucları için tıklayın.</p>

                <br /><div class="text-orta"><button id="uyari" class="btn btn-danger" type="button">Devam <b class="glyphicon glyphicon-chevron-right f3"></b></button></div>

            </a>

        </div>

    </div>

    <div class="col-xs12 col-sm-12 col-md-4">

        <div class="list-group">

            <a href="#" class="list-group-item">

                <div class="text-orta"><img src="~/images/fashion.jpg" /></div>

                <h4 class="list-group-item-heading">Moda</h4>

                <p class="list-group-item-text f3">En yeni moda trendleri,gündelik hayat şıklıgı</p>

                <br /><div class="text-orta"><button id="uyari" class="btn btn-danger" type="button">Devam <b class="glyphicon glyphicon-chevron-right f3"></b></button></div>

            </a>

        </div>

    </div>

</div>



<div class="col-xs12 col-sm-12 col-md-12">

    <div class="col-xs12 col-sm-12 col-md-6">

        <div class="panel panel-danger">

            <div class="panel-heading">

                <h3 class="panel-title">Son Konular</h3>

            </div>

            <div class="panel-body">

                <ul class="list-group">

                    <li class="list-group-item"><span class="badge">14</span> Dogal makyaj sırları</li>

                    <li class="list-group-item"><span class="badge">8</span> Mikrodalgada makarna nasıl yapılır?</li>

                    <li class="list-group-item"><span class="badge">2</span> Unutulmayan ask filmleri</li>

                </ul>

            </div>

        </div>

    </div>

    <div class="col-xs12 col-sm-12 col-md-6">

        <div class="panel panel-danger">

            <div class="panel-heading">

                <h3 class="panel-title">Son Sorular</h3>

            </div>

            <div class="panel-body">

                <ul class="list-group">

                    <li class="list-group-item"><span class="badge">5</span> Makarnanın cinsine göre pişirme süresi değişir mi</li>

                    <li class="list-group-item"><span class="badge">16</span> Natalie Portman'ın bundan baska güzel film önerisi verir misiniz</li>

                    <li class="list-group-item"><span class="badge">7</span> Yazıdaki çantayı bulabileceğimiz bir yer var mı ?</li>

                </ul>

            </div>

        </div>

    </div>

</div>



<div class="temiz"></div>



<!-- Uyarılar-->

<div class="alert alert-dismissable alert-warning">

    <button type="button" class="close" data-dismiss="alert">×</button>

    <b>Duyurular</b>  !!!

</div>





<!-- Uyarılar Penceleri-->

<div class="modal fade" role="dialog" id="uyari-1">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                <h4 class="modal-title">Pratiklerce.com</h4>

            </div>

            <div class="modal-body">

                <p>Konuya yönlendiriliyorsunuz ... </p>

                <div class="progress progress-striped active">

                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>

                </div>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>

            </div>

        </div>

    </div>

</div>









